body, html{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body{
    font-family: monospace;
    /* padding: 30px 60px 0px 60px; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr;
    overflow: auto;
    grid-template-areas: 
    "top top"
    "left table";
    height: 100vh;
    color: #b1bbc0;
    background: #193549;

}

.columns{
    grid-area: left;
}

th{
    border: 1px solid #163042;
    /* border-right: 1px dashed rgb(255, 255, 255);
    border-left: 1px dashed rgb(255, 255, 255); */
    background: #163042;
    color: #ffc600;
    padding: 7px 9px;
    text-align: left;
    cursor: pointer;
}

th:first-child{
    border: 0px solid #555;
    border-bottom: 1px solid #163042;
    border-radius: 7px 0px 0px 0px;
}

th:last-child{
    border: 0px solid #555;
    border-radius: 0px 7px 0px 0px;
}

table{
    table-layout:fixed;
    border-collapse: collapse;
    border-color: white;
    grid-area: table;
}

td{
    border: 1px dashed #163042;
    border-bottom: 1px solid #163042;
    padding: 3px 9px;
    max-width: 400px;
    overflow: auto;
    white-space: nowrap;
}



tr:nth-child(even) td{
    background: rgba(85, 85, 85, 0.15);
}

.data-container{
    grid-area: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px 20px;
    /* background: url("img/icon.png") no-repeat; */
    background-size: 100% 100%;
    background-color: #193549;
    color: white;
}

.btnsAction{
    padding: 20px 60px;
}


.btnsAction button{
    background: #15232d;
    border: 2px solid #15232d;
    color: #b1bbc0;
}

.btnsAction .btn{
    /* display: block; */
    justify-self: flex-end;
    white-space: nowrap;
    height: 36px;
    min-width: 200px;
    margin-bottom: 15px;
    vertical-align: top;
}

/* .fullScreen{
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    justify-items: center;
    align-items: center;
} */

.columns{   
    background: #15232d;
    color: #b1bbc0;
    grid-area: left;
    border-right: 1px solid #0d3a58;
    display: grid;
    /* align-items: center; */
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

form{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.form{
    display: block;
    overflow: auto;
    border-bottom: 1px solid #555; 
    /* margin: 20px 20px 20px 20px; */
    box-sizing: border-box;
    height: 100%;
}

.form h3{
    margin-top: 0px;
    color: #ffc600;
    text-transform: capitalize;
    text-transform: full-width;
}

.form > div{
    display: block;
    /* width: 100%; */
    box-sizing: border-box;
    margin: 20px 20px 20px 20px;
}

.filter{
    margin: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.max{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    padding-left: 2px;
    margin-bottom: 1px;
}

.max input[type=number]{
    width: 100%;
    padding: 7px 10px;
    height: 32px;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.chkBox input, .caret input{
    vertical-align: middle;
    cursor: pointer;
}

.chkBox{
    padding: 2px 0px;
    /* border-bottom: 1px dashed #222; */
}

a{
    color: #ffc600;
    cursor: pointer;
}

a:hover{
    color: #ff4800;
    text-decoration: underline;
}

header{
    grid-area: top;
    display: grid;
    padding: 0px 20px;
    align-items: center;
    /* justify-items: flex-end; */
    background: #163042;
    box-sizing: border-box;
    border-bottom: 1px solid #0d3a58;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-template-columns: min-content 1fr min-content min-content min-content min-content min-content min-content;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

header a{
    color: #b1bbc0;
    text-decoration: none;
    white-space: nowrap;
}

header a:hover{
    color: #b1bbc0;
    text-decoration: none;
    white-space: nowrap;
}

header .btn{
    justify-self: flex-end;
    white-space: nowrap;
    height: 36px;
    min-width: 36px;
    vertical-align: middle;
}

header select{

    white-space: nowrap;
    height: 36px;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.07em;
    cursor: pointer;
    width: 200px; 

}

select, select option{
    cursor: pointer;
}

header h1{
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
    cursor: pointer;
}

header h3{
    white-space: nowrap;
}
header .icon{
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.tbls{
    white-space: nowrap;
}

.tbls img{
    vertical-align: middle;
    height: 25px;
}

.btn{
    background: #193549;
    color: inherit;
    padding: 7px 15px;
    border-radius: 3px;
    border: 0px solid #222;
    justify-self: center;
    margin: 5px 0px 5px 0px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: monospace;
    border: 2px solid #193549;
    /* border-bottom: 2px solid transparent; */
    
}



.btn:hover{
    background: #122738;
    cursor: pointer;
    /* color: #555; */
    border: 2px solid #122738;
    border-bottom: 2px solid #ffc600;
}

.btnDel, .btnEdit{
    padding: 3px 3px;
    background: #122738;
    border: 2px solid #122738;
}

.btnDel:hover, .btnEdit:hover{
    background: #193549;
    cursor: pointer;
    /* color: #555; */
    border: 2px solid #193549;
    border-bottom: 2px solid #ffc600;
}

.btnSend{
    padding: 7px 15px;
    width: 95%;
    border-radius: 3px;
    justify-self: center;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: monospace;
}

.btnQuery span{
    line-height: 18px;
    vertical-align: bottom;
}

.btnQuery img{
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.btnFilter{
    width: 100%;
}

.btnFilter.remove:hover{
    border-bottom-color: #ff4800;
}

.fil{
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    width: 100%;
    grid-column-gap: 3px;
    margin-top: 3px;
    font-size: 10px;
}

.fil input, .fil select{
    width: 100%;
    font-size: 12px;
}


.smallForm{
    height: initial;
    display: inline-block;
}

input, button, select{
    font-family: monospace;
}

.template{
    display: none;
}


/*

TREEVIEW

*/

ul, #main {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #main {
    margin: 0;
    padding: 0;
  }

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
  
  /* Create the caret/arrow with a unicode, and style it */
.caret::before {
content: /* "\2304"; */ url("img/arrow.png");
display: inline-block;
font-size: 2em;
margin-right: 6px;
width: 12px;
}
  
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    content: /* "\2304"; */ url("img/arrow-down.png");

}

/* Hide the nested list */
.nested {
display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
display: block;
}

/*
 *  SCROLLBAR
 */

 ::-webkit-scrollbar-track, .data-container::-webkit-scrollbar-track, .form::-webkit-scrollbar-track, .filter::-webkit-scrollbar-track, td::-webkit-scrollbar-track
 {
     /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 0px; */
     background-color: rgba(245,245,245,0);
     cursor: pointer;
 }
 
 ::-webkit-scrollbar, .data-container::-webkit-scrollbar, .form::-webkit-scrollbar, .filter::-webkit-scrollbar, td::-webkit-scrollbar
 {
     width: 14px;
     height: 14px;
     background-color: rgba(245,245,245,0);
     cursor: pointer; 
 }

 td::-webkit-scrollbar
 {
     width: 7px;
     height: 7px;
 }
 
 ::-webkit-scrollbar-thumb, .data-container::-webkit-scrollbar-thumb, .form::-webkit-scrollbar-thumb, .filter::-webkit-scrollbar-thumb, td::-webkit-scrollbar-thumb
 {
     border-radius: 0px;
     /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
     background-color: #1b59856e;
     cursor: pointer;
 }

 ::-webkit-scrollbar-thumb:hover, .data-container::-webkit-scrollbar-thumb:hover, .form::-webkit-scrollbar-thumb:hover, .filter::-webkit-scrollbar-thumb:hover, td::-webkit-scrollbar-thumb:hover
 {
     background-color: #1b5985;
     cursor: pointer;
 }

 ::-webkit-scrollbar-corner {background: rgba(245,245,245,0); }


 input[type=text], input[type=number], select, option{
     background: #193549;
     color: #ffc600;
     border: 1px solid #0d3a58;
     border-radius: 2px;
     padding: 3px;
     box-sizing: border-box;
 }

 .ASC, .DESC{
     color: #ffc600;
 }

 .DESC::after{
     content: " \2193";
     font-size: 16px;

 }

 .ASC::after{
    content: " \2191";
    font-size: 16px;
}


/* center[title]{
    
} */

center[title] span{
    color: #ffc600;
    border-bottom: 1px dotted #ffc600;
    cursor: pointer;
}

.deleted{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.addEdit{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-row-gap: 5px;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-self: center;
}

.addEdit span{
    display: grid;
    grid-template-columns: 20px 200px 1fr;
    align-items: center;
    grid-column-gap: 5px;
    width: 100%;
}

.addEdit input[type=text], .addEdit input[type=number], .addEdit input[type=email], .addEdit input[type=tel], .addEdit select, .addEdit option{
    background: #15232d;
    color: #ffc600;
    border: 1px solid #0d3a58;
    border-radius: 2px;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
}

.addEdit span{
    text-transform: capitalize;
}

.btnSave{
    background: #15232d;
    border: 2px solid #15232d;
    display: block;
    width: 30%;
    justify-self: left;
}

.btnDark{
    background: #15232d;
    border: 2px solid #15232d;
}

.btnReset{
    background: #15232d;
    border: 2px solid #15232d;
    display: block;
    color: orangered;
    width: 100%;
    justify-self: left;
}

.btnReset:hover{
    border-bottom: 2px solid orangered;
}

/* #table{
    font-size: 15px;
} */

#settingsForm{
    display: grid;
    justify-items: center;
    align-content: flex-start;
}

.btnNew, .btnSettings{
    word-wrap: none;
    white-space: nowrap;
}

.btnSettings{
    padding: 3px 3px;
    line-height: 1;
    /* grid-column: grid-column-end; */
    /* grid-column-end: -1;
    grid-row: 1/2; */
    /* grid-row-end: 1; */
}

.btnSettings img{
    height: 100%;
    vertical-align: middle;
    
}

.response{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border: 2px solid #15232d;
    border-bottom: 2px solid greenyellow;
    background: #122738;
    border-radius: 5px;
    display: none;
}

.response.error{
    border-bottom: 2px solid orangered;
}

.napoveda{
    font-size: 14px;
    letter-spacing: 0.04em;
}

.napoveda .sub{
    font-size: 2px !important;
}

.copyright{
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff07;
}

.copyright:hover{
    color: #ffc60022
}

.connection{
    display: grid;
    padding: 50px;
    border: 1px solid #1b5985;
    background: #193549;
    border-radius: 3px;
}



.connection legend{
    color: #ffc600;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: #163042;
    border: 1px solid #1b5985;
    border-radius: 3px;
    padding: 3px 7px;
}

.connection input[type=text], .connection input[type=number], .connection input[type=email], .connection input[type=tel], .connection input[type=password], .connection select, .connection option{
    background: #15232d;
    color: #ffc600;
    border: 1px solid #0d3a58;
    border-radius: 2px;
    padding: 6px;
    box-sizing: border-box;
}

.connection form{
    justify-self: center;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 3fr;
    grid-row-gap: 5px;
}

.connection input[type=submit]{
    grid-column: 1/3;
    width: 100%;
    color: #b1bbc0;
}


.autoInc{
    height: 20px;
    vertical-align: middle;
}


.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #15232d; */
    border-radius: 3px;
    border: #163042;
    padding: 10px;
    display: none;
}

.loading .spinner{
    --spinner-size: 50px;

    width: var(--spinner-size);
    height: var(--spinner-size);
    border-radius: var(--spinner-size);

    display: inline-block;

    border: 10px solid #1b5985a8;
    border-bottom: 10px solid #2e93db;

    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* 
#1b59856e;
#1b5985; 
*/

.settings{
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 50%; 
    align-items: center;
    margin: auto;
    grid-row-gap: 25px;
}

.settings .btn{
    /* margin-top: 30px; */
    width: 100%;
    grid-column: span 2;
}
    


@media only screen and (max-width: 1600px)
{

    header select {
        width: auto;
        max-width: 100px;
    }

    header h3{
        /* display: none; */
        font-size: 1em;
    }

    .addEdit {
        width: 70%;
    }

}


@media only screen and (max-width: 1350px)
{

    header select {
        width: auto;
        max-width: 100px;
    }

    header{
        position: relative;
    }

    header h3{
        position: absolute;      
        bottom: 0;
        margin: 0;
        left: 15px;
        transform: translateY(-2px);
    }

}


@media only screen and (max-width: 1200px)
{

    header select {
        width: auto;
        max-width: 100px;
    }

    header{
        position: relative;
    }

    header h3{
        position: absolute;      
        bottom: 0;
        margin: 0;
        left: 15px;
        transform: translateY(-2px);
    }

    body{
        font-size: 0.75em;
        letter-spacing: 0.04em;
    }

    .btn {
        font-size: 0.75em;
        letter-spacing: 0.04em;
    }

    .addEdit {
        width: 95%;
    }

}


@media only screen and (max-width: 1000px)
{

    header select {
        width: auto;
        max-width: 100px;
    }

    header{
        position: relative;
        /* overflow: auto; */
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-template-columns: min-content 1fr min-content min-content min-content min-content min-content min-content min-content;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        width: 100vw;
    }

    header h3{
        position: absolute;      
        bottom: 0;
        margin: 0;
        left: 15px;
        transform: translateY(-2px);
    }

    body{
        font-size: 0.75em;
        letter-spacing: 0.04em;
        grid-template-columns: 1fr 4fr;
    }

    header .btn{
        padding: 4px;
    }

}